{% extends "base.html" %}

{% block content %}

<header class="tc ph4">
    <div><br><br><br>
    <h1 class="mt1 mb0 f4 fw3 ttu tracked">
      Your Personal Code Snippet Manager Contains:
    </h1>
    <h4 class="mt2 mb0 f6 fw4 ttu tracked">
        <ul>
            <p>{{ snippet_codes_count }} Code Snippets</p>
        </ul>
    </h4>
    <br>
    <h2 class="snippet_header">Snippets of Code</h2>
    {% if user.is_authenticated %}
    <div class='tc center avenir w-70'>
        {% for obj in snippet_codes %}
          <div class='ba bg-blue white'>
            <p><strong> {{obj.title}}</strong></p>
            <a class='f6 link mt5 dim br3 ph3 pv2 mb2 dib white bg-dark-blue' href="{{ obj.get_absolute_url }}">Edit</a>
            <a class="f6 link mt5 dim br3 ph3 pv2 mb2 dib white bg-dark-blue" href="{% url 'add_snippet' %}">Add New</a>
            <a class="f6 link mt5 dim br3 ph3 pv2 mb2 dib white bg-dark-blue" href="{{ obj.get_absolute_url }}">Delete</a>
          </div>
          <div>
              <p>by {{obj.creator}}</p>
              <p>added {{obj.date_added}}</p>
          </div>
          <div>
            <p> Language: {{obj.languages}}</p>
          </div>
          <div>
            <p>{{obj.code }}</p>
          </div>
        {% endfor %} 
        <a class="f5 link mt5 dim br3 ph3 pv2 mb2 dib white bg-dark-blue" href="{% url 'add_snippet' %}">Add Snippet</a>
   </div>
  
   {% else %}
   
   <div>
    {% load static %}
    <img class= "otter" src="{% static 'otter.png' %}">
   </div>

   {% endif %}
    </div>
</header>
 
{% endblock %}